\section{\VAR{ i18n.bb_impact }}

\BLOCK{ if vulnerabilities }
    \BLOCK{ for vuln in vulnerabilities }
        \BLOCK{ if vuln.impact }
        \subsection{\VAR{ vuln.title | escape_tex }}
        \VAR{ vuln.impact | escape_tex }
        \BLOCK{ endif }
    \BLOCK{ endfor }
\BLOCK{ else }
    \textit{\VAR{ i18n.no_vuln }}
\BLOCK{ endif }
