\section{\VAR{ i18n.pt_executive }}

\BLOCK{ if machine.description }
\VAR{ machine.description | escape_tex }
\BLOCK{ endif }

\vspace{0.5cm}
\begin{table}[h]
\centering
\renewcommand{\arraystretch}{1.5}
\begin{tabular}{|l|l|}
\hline
\BLOCK{ if machine.client_name }
\textbf{\VAR{ i18n.client }}        & \VAR{ machine.client_name | escape_tex } \\ \hline
\BLOCK{ endif }
\BLOCK{ if machine.scope }
\textbf{\VAR{ i18n.pt_scope }}      & \VAR{ machine.scope | escape_tex } \\ \hline
\BLOCK{ endif }
\BLOCK{ if machine.target_ip }
\textbf{\VAR{ i18n.target_ip }}     & \VAR{ machine.target_ip | escape_tex } \\ \hline
\BLOCK{ endif }
\BLOCK{ if machine.author }
\textbf{\VAR{ i18n.author_label }}  & \VAR{ machine.author | escape_tex } \\ \hline
\BLOCK{ endif }
\end{tabular}
\end{table}
