\section{\VAR{ i18n.vulnerabilities_identification }}

\BLOCK{ if vulnerabilities }
    \BLOCK{ for vuln in vulnerabilities }
        \subsection{\VAR{ vuln.title | escape_tex }}
        
        \begin{itemize}
            \item \textbf{\VAR{ i18n.type }:} \VAR{ vuln.display_vulnerability_type() | escape_tex }
            \item \textbf{\VAR{ i18n.severity }:} \VAR{ vuln.get_severity_display() | escape_tex }
            \BLOCK{ if vuln.cve }\item \textbf{\VAR{ i18n.cve }:} \VAR{ vuln.cve | escape_tex }\BLOCK{ endif }
            \BLOCK{ if vuln.affected_service }\item \textbf{\VAR{ i18n.affected_service }:} \VAR{ vuln.affected_service | escape_tex } \BLOCK{ if vuln.affected_port }(\VAR{ i18n.port }: \VAR{ vuln.affected_port | escape_tex })\BLOCK{ endif }\BLOCK{ endif }
        \end{itemize}
        
        \BLOCK{ if vuln.how_identified }
            \textbf{\VAR{ i18n.how_identified }:}\\
            \VAR{ vuln.how_identified | escape_tex }\\
        \BLOCK{ endif }
        
        \BLOCK{ if vuln.evidence }
            \textbf{\VAR{ i18n.evidence }:}
            \begin{lstlisting}
\VAR{ vuln.evidence }
            \end{lstlisting}
        \BLOCK{ endif }
        
        \BLOCK{ if vuln.impact }
            \textbf{\VAR{ i18n.impact }:}\\
            \VAR{ vuln.impact | escape_tex }\\
        \BLOCK{ endif }
        
        \BLOCK{ if vuln.recommendation }
            \textbf{\VAR{ i18n.recommendation }:}\\
            \VAR{ vuln.recommendation | escape_tex }\\
        \BLOCK{ endif }
        
        \BLOCK{ for screenshot in vuln.screenshots.all() }
            \begin{figure}[H]
                \centering
                \includegraphics[width=0.90\textwidth]{\VAR{ screenshot_paths[screenshot.id] }}
                \caption{\VAR{ screenshot.caption | default(screenshot.title) | escape_tex }}
            \end{figure}
        \BLOCK{ endfor }
        
    \BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ set evidences = evidences_by_phase.get('vulnerability_identification', []) }
\BLOCK{ if evidences }
    \subsection{\VAR{ i18n.additional_evidence }}
    \BLOCK{ for evidence in evidences }
        \subsubsection{\VAR{ evidence.title | escape_tex }}
        
        \BLOCK{ if evidence.explanation }
            \textbf{\VAR{ i18n.explanation }:}\\
            \VAR{ evidence.explanation | escape_tex }\\
        \BLOCK{ endif }
        
        \BLOCK{ if evidence.command }
            \textbf{\VAR{ i18n.command_used }:}
            \begin{lstlisting}[language=bash]
\VAR{ evidence.command }
            \end{lstlisting}
        \BLOCK{ endif }
        
        \BLOCK{ if evidence.output }
            \textbf{\VAR{ i18n.output }:}
            \begin{lstlisting}
\VAR{ evidence.output }
            \end{lstlisting}
        \BLOCK{ endif }
        
        \BLOCK{ for screenshot in evidence.screenshots.all() }
            \begin{figure}[H]
                \centering
                \includegraphics[width=0.90\textwidth]{\VAR{ screenshot_paths[screenshot.id] }}
                \caption{\VAR{ screenshot.caption | default(screenshot.title) | escape_tex }}
            \end{figure}
        \BLOCK{ endfor }
    \BLOCK{ endfor }
\BLOCK{ endif }
